# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
.venv/
venv/
*.db
*.db-journal

# Node
**/node_modules/
frontend/dist/
**/.vite/

# Docker / runtime
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
